<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cielo" type="Cielo4NetApi.ConfigurationSection, Cielo4NetApi"/>
  </configSections>
  <cielo  merchantId="7b47a500-fece-487b-ae02-5ef034a9fc1d" merchantKey="UOXJOMKHNRLNXFTVNRJHUTNMPVMFLOKVDRQZKZLE" environment="sandbox"/>
</configuration>